.banner{
    padding-top: 230px;
    padding-bottom: 130px;
    @include mmd{
        padding-top: 180px;
        padding-bottom: 100px;
    }
    @include sm{
        padding-top: 150px;
        padding-bottom: 40px;
    }
    &-content{
        .subtitle{
            img{
                max-width: 24px;
            }
            display: inline-block;
            color: $caption;
            @include font-20;
            text-transform: uppercase;
            margin-bottom: 16px;
        }
        h1{
            color: $heading;
            span{
                color: $primary;
            }
            margin-bottom: 25px;
        }
        p{
            @include font-20;
            margin-bottom: 38px;
        }
        .boxed-btn{
            img{
                max-width: 16px;
            }
        }
    }
}